<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603607670443-2h8nisu8p3ql4p0bs5c4d8sna57111g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603607670443-2h8nisu8p3ql4p0bs5c4d8sna57111g9</string>
	<key>API_KEY</key>
	<string>AIzaSyDlUc5n0HI084PLgA8WfyGzxEl4_Wpwitg</string>
	<key>GCM_SENDER_ID</key>
	<string>603607670443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonor</string>
	<key>PROJECT_ID</key>
	<string>blood-donor-75493</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donor-75493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603607670443:ios:0a7b6f1a905737c5c221ee</string>
</dict>
</plist>